h2{
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   border-bottom: 3px solid rosybrown;
   width: 350px;
   font-style: italic;

}
h2+p{
    text-align: center;
    font-size:25px ;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card{
    width: 400px;
    height: 500px;
    padding: 40px 50px;
    text-align: center;
    background-color: antiquewhite;
    margin: 30px;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.section{
    display: none;
}